.section {
  margin-top: 96px;

  &.section-about {
    margin-top: 152px;

    .section-header {
      .section-header-badge {
        position: absolute;
        right: 120px;
        top: 78px;
      }
    }

    .section-body {
      color: $black;
      margin-top: 48px;
    }
  }

  &.section-services {
    .section-header {
      .section-header-badge {
        position: absolute;
        left: 175px;
        top: -25px;
      }
    }

    .section-body {
      color: $black;

      .services-listing {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        .service {
          flex: 0 0 150px;
          margin: 0 15px 48px 0;
          text-align: center;

          .service-icon {
            font-size: 4rem;
            line-height: 1;
            margin-bottom: 0.5rem;
          }

          .service-title {
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1.25;
          }
        }

        .service:last-child {
          flex: 0 0 100%;

          .service-container {
            width: 150px;
          }
        }
      }

      .services-listing-detailed {
        text-align: right;
        color: $white;

        .service {
          .service-icon {
            font-size: 6rem;
            line-height: 1;
          }

          .service-title {
            font-size: 2rem;
            line-height: 1;
            font-weight: 600;
            padding-left: 25%;
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  }

  .section-header {
    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
    }

    &.section-header-right {
      h1 {
        text-align: right;
      }
    }
  }
}