.section {
  margin-top: 96px;

  &.section-about {
    margin-top: 152px;

    .section-body {
      color: $black;
      margin-top: 48px;
    }
  }

  .section-header {
    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;

      .section-header-badge {
        position: absolute;
        right: 120px;
        top: 78px;
      }
    }

    &.section-header-right {
      h1 {
        text-align: right;
      }
    }
  }
}