.section {
  margin-top: 120px;

  &.section-about {
    margin-top: 152px;

    .section-header {
      .section-header-badge {
        position: absolute;
        right: 120px;
        top: 78px;
      }
    }

    .section-body {
      color: $black;
      margin-top: 48px;
      line-height: 2.25;
    }
  }

  &.section-services {
    .section-header {
      .section-header-badge {
        position: absolute;
        left: 175px;
        top: -25px;
      }
    }

    .section-body {
      color: $black;
    }
  }

  .section-header {
    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
    }

    &.section-header-right {
      h1 {
        text-align: right;
      }
    }
  }

  .section-footer {
    margin-top: 1.5rem;
  }
}