*{
	margin:0px;
	padding: 0px;
}
header{
	z-index: 1;
	overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%; 
    padding-bottom: 3em;
}
body{
	background-image:url("../images/Homepage.png");
	background-repeat: no-repeat;
	background-position: ;
	background-position: 50% 0%;
	margin-left: 60px;
}
#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

#menu ul li{
	margin: 9px;
	padding-top: 1px;
	display: inline-block;
}
#menu ul li a{
}
.socia
.social-nav ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

.social-nav ul li{
	margin: 10px;
	display: inline-block;
}

.first-view{
	padding-top: 60px;
	position: relative;
	margin-left: 2em;
	margin-top: 10em;
	margin-bottom: 14em;
}
.first-view div p{ 
	font-size: 46px;
}

.img-man{
	margin-right: 2em;
	margin-top: 8em;
}

.img-man img{
	width: 480px;
}

.sobre{
	padding-top: 142.5px;
	float: right;
}
.sobre-details{
	margin-top: 18.8px;
	font-size: 18px;
}

.oferecemos{
	padding-top: 96px;
}
.first-left div{
	display: inline-block;
}
.first-left div span{
	display: block;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}