<div id="contato" class="section section-contact">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 d-flex flex-column justify-content-center">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="section-header section-header">
              <h1>
                Fale com<br>a gente
                <span class="section-header-badge">
                  <%= image_tag "section-contact-badge.png" %>
                </span>
              </h1>
              <p class="section-header-subtitle">
                Entre em contato e faça seu orçamento sem compromisso! Ficaremos felizes em te conhecer
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="contact-infos">
              <div class="contact-info contact-info-follow-us">
                <h6 class="contact-info-title">Siga-nos nas Redes Sociais</h6>
                <div class="contact-info-content">
                  <a href="https://www.facebook.com/oitoquatrodigital/" target="_blank" class="contact-info-item">
                    <span class="icon"><i class="fab fa-facebook"></i></span>
                    <span class="text">/oitoquatrodigital</span>
                  </a>
                  <a href="https://www.instagram.com/84digital/" target="_blank" class="contact-info-item">
                    <span class="icon"><i class="fab fa-instagram"></i></span>
                    <span class="text">/84digital</span>
                  </a>
                </div>
              </div>
              <div class="contact-info contact-info-whats">
                <h6 class="contact-info-title">Ligue-nos ou fale pelo WhatsApp</h6>
                <div class="contact-info-content">
                  <a href="https://www.facebook.com/oitoquatrodigital/" target="_blank" class="contact-info-item">
                    <span class="icon"><i class="fab fa-whatsapp"></i></span>
                    <span class="text">+55 84 99676-4129</span>
                  </a>
                  <span class="contact-info-item no-icon">
                    <span class="text">De Segunda a Sexta - 8h às 18hs</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="form-contact">
          <p class="form-contact-title">Envie sua mensagem</p>
          <p class="form-contact-subtitle">Ficaremos felizes em te ajudar!</p>
          <form class="form">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Seu nome*" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Seu e-mail*" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="phone" placeholder="Seu telefone">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="message" rows="3" placeholder="Escreva sua mensagem" required></textarea>
            </div>
            <button type="submit" class="btn btn-yellow">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>