<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <p>
          © Copyright <strong>84 Digital</strong> 2018. Todos os Direitos Reservados.
        </p>
      </div>
    </div>
  </div>
</footer>