<header class="topbar">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
        <%= image_tag "images/logo.png", class: "brand-logo" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Inicial <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link anchor-link" href="#sobre">Sobre</a>
          <a class="nav-item nav-link anchor-link" href="#servicos">Soluções</a>
          <a class="nav-item nav-link anchor-link" href="#portfolio">Portfólio</a>
          <a class="nav-item nav-link anchor-link" href="#contato">Fale com a gente</a>
        </div>
        <div class="line"></div>
        <div class="navbar-nav navbar-nav-social">
          <a class="nav-item nav-link" target="_blank" href="https://www.facebook.com/oitoquatrodigital/">
            <i class="fab fa-facebook"></i>
          </a>
          <a class="nav-item nav-link" target="_blank" href="https://www.instagram.com/84digital/">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="nav-item nav-link" target="_blank" href="https://wa.me/5584996764129?text=Ol%C3%A1%2C%20quero%20descobrir%20o%20poder%20das%20m%C3%ADdias%20sociais%21">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>