<div class="modal fade" id="modal-project" tabindex="-1" role="dialog" aria-labelledby="modal-project-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title project-title" id="modal-project-label"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fal fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <p class="project-description"></p>
        <div class="project-image-container">
          <img class="project-image" src="">
        </div>
      </div>
    </div>
  </div>
</div>