<div id="sobre" class="section section-about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-8 offset-md-4 offset-lg-3">
        <div class="section-header section-header-right">
          <h1>
            Sobre<br>a 84
            <span class="section-header-badge">
              <%= image_tag "section-about-badge.png" %>
            </span>
          </h1>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-6 offset-md-4 offset-lg-3">
        <div class="section-body">
          <p>
            A <strong>84Digital</strong> surgiu com a necessidade de ajudar micro e pequenas empresas a conseguir botar sua marca na internet ao oferecer seus serviços de forma acessível e justa. Oferecemos diversas possibilidades para o cliente alcançar o reconhecimento nas mídias sociais, que é um dos mercados que mais crescem e que trazem mais consumidores.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>